*.otares
*.ico
GPATH
GRTAGS
GTAGS
Samples/fmx/RTTK_FMX.delphilsp.json
Samples/vcl/RTTK.VCL.delphilsp.json
*.res
Samples/fmx/RTTK_FMX.res
*.o
Samples/DEB/FMX/DebFileEventsFMX.delphilsp.json
Samples/DEB/VCL/DebFileEventsVCL.delphilsp.json
*.stat
*.exe
*.delphilsp.json
*.res
