*.ddp
*.exe
*.dll
*.bpl
*.bpi
GTAGS
GRTAGS
GPATH
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery/
OSX64/
WIN32/
*.~*
*.dcu
*.dof
*.cfg
G*.*